 # Ignore Python virtual environments
adk/.venv/
.venv
 venv/
 env/
 ENV/

 # Byte-compiled / optimized / DLL files
 __pycache__/
**/__pycache__/
 *.py[cod]

 # Distribution / packaging
 build/
 dist/
 *.egg-info/